.logo{
    width: 7%;
    
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#999;
 } 
 .card{
    border: 1px solid black;
    margin: 10px;
 }

/*MUUUY PEQUEÑO*/
@media (max-width:576px){
    .btn-primary{
        display: none;
    }
    .arriba {
        display: none;
    } 
}
/*PEQUEÑO*/
@media (min-width: 576px) and (max-width:768px)
{
   .btn-primary{
        display: none;
    }
    .arriba {
        display: none;
    }

}
/*MEDIANO*/
@media (min-width: 769px) and (max-width:992px) { 
    .arriba{
        width: auto;
      }
    
    .abajo{
        display: none;
    }
    .order-md-1 {
        order: 1;
      }
      .order-md-2 {
        order: 2;
      }
}

/*GRANDE*/

@media (min-width: 992px) { 

  .abajo{
        display: none;
    }   
}









/* 
@media (max-width: 992px) {
    
 
    
}

@media (min-width:992px){
    .abajo{
        display: none;
    }
} */