@font-face {
  font-family: "tipografia";
  src: url("../lib/tipografia/Glossy\ Sheen\ Shine\ DEMO.ttf");

}
.logo {
  width: 10%;
  margin-left: 1vw;
}
.imgTarjeta {
  width: 50%;
}
.formulario {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
textarea {
  resize: none;
}
p {
  margin: 6%;
}

.presentacion {
  font-family: "tipografia";
}
.subpresentacion {
  font-family: "Courier New", Courier, monospace;
}
#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #999;
}
.fila{
  width: 100%;
}
.abajo a{
background-color: #0D6EFD;
color: white;
text-decoration: none;

border-radius: 10px;
padding: 5px;
margin: auto;
}
.bg-image {
  background-image: url("../assets/images/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.5rem;
}

.content-section {
  height: 1000px;
}
.card {
  border: 1px solid black;
  margin: 10px;
}
.tarjetero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.completo {
  width: 100%;
  height: 15vh;
  background-image: url("../assets/images/web.jpg");
  background-size: cover;
  text-indent: 5%;
  position: relative;
}
.textoSobreImagen {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 1vw;
}
.tituloPrincipal {
  width: 70%;
  border: 1px solid black;
  margin: auto;
  text-align: center;
}
.seccion1 {
  width: 70%;
  border: 1px solid black;
  margin: auto;
  text-align: left;
  font-size: 1.5vw;
  display: grid;
  grid-template-rows: 1fr;
}
.seccion2 {
  width: 70%;
  border: 1px solid black;
  margin: auto;
  text-align: left;
  font-size: 1.5vw;
}
.txtColumnas {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.breadcrumb{
margin-left: 1%;
}
/*MUUUY PEQUEÑO*/
@media (max-width: 576px) {
  .btn-primary {
    display: none;
  }
  .arriba {
    display: none;
  }
  .abajo {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .enlace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*MEDIANO*/
@media (min-width: 576px) and (max-width: 992px) {
  .seccion1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .abajo {
    display: none;
  }
  .card-text{
    display: none;
  }
}

/*GRANDE*/

@media (min-width: 992px) {
  .seccion1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .abajo {
    display: none;
  }
  
}
